<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul class="d-flex justify-content-center">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Login</a></li>
            <li><a href="index.html">Register</a></li>
        </ul>
    </nav>
    <div class="container" id="main">
        <div class="row formSection text-center">
            <div class="col-12 text-center">
                <h1>Odobreni Blogovi</h1>
                <p>Ovde mozete obrisati Blogove</p>
            </div>
            <div class="col-12" id="adminBlogs">  
                <div class="row">
                    <div class="col-12 userBlogs">
                        <div class="row d-flex justify-content-lg-between align-items-center">
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <figure><img class="img-fluid imgBlogAdmin" src="../../public/assets/images/blogNovo.png" alt="blog1"/></figure>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <h4>Blog Title</h4>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <p>Author 1</p>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <button>Obrisi Blog</button>
                            </div>
                        </div>
                        
                    </div> 
                    <div class="col-12 userBlogs">
                        <div class="row d-flex justify-content-lg-between align-items-center">
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <figure><img class="img-fluid imgBlogAdmin" src="../../public/assets/images/blogNovo.png" alt="blog1"/></figure>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <h4>Blog Title</h4>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <p>Author 1</p>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <button>Obrisi Blog</button>
                            </div>
                        </div>
                        
                    </div> 

                    <div class="col-12 userBlogs">
                        <div class="row d-flex justify-content-lg-between align-items-center">
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <figure><img class="img-fluid imgBlogAdmin" src="../../public/assets/images/blogNovo.png" alt="blog1"/></figure>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <h4>Blog Title</h4>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <p>Author 1</p>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <button>Obrisi Blog</button>
                            </div>
                        </div>
                        
                    </div> 

                    <div class="col-12 userBlogs">
                        <div class="row d-flex justify-content-lg-between align-items-center">
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <figure><img class="img-fluid imgBlogAdmin" src="../../public/assets/images/blogNovo.png" alt="blog1"/></figure>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <h4>Blog Title</h4>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <p>Author 1</p>
                            </div>
                            <div class="col-lg-3 col-12 blogsAdminRes">
                                <button>Obrisi Blog</button>
                            </div>
                        </div>
                        
                    </div> 
                          
                </div>           
                            
            </div>
            
        </div>
    </div>









    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/assets/js/main.js"></script>
</body>
</html>