<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul class="d-flex justify-content-center">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Login</a></li>
            <li><a href="index.html">Register</a></li>
        </ul>
    </nav>
    <div class="container" id="main">
        <div class="row formSection text-center" id="loginForm">
            <div class="col-12 text-center">
                <h1>Ulogujte se</h1>
            </div>
            <div class="col-12 blog login d-flex justify-content-center">
                
                <form method="" action="#!" class="row d-flex justify-content-center flex-column">
                    <div class="col-12">
                        <input type="text" id="email" name="email" placeholder="Vas Email"/>
                    </div>
                    <div class="col-12">
                        <input type="text" id="email" name="email" placeholder="Vas Email"/>
                    </div>
                    <div class="col-12">
                        <input type="button" value="Ulogujte se" id="loginSubmit"/>
                    </div>                  
                </form>
            </div>
            
        </div>
    </div>









    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/assets/js/main.js"></script>
</body>
</html>